:root {
    --primary-color: #7584A9;
    --secondary-color: #616161;
    --text-color: #bab1b1;
    --bg-color: #121212;
    --border-color: #212121;
    --font-family: 'Noto Sans TC', sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: #000;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.row>*{
	flex-shrink:0;
	width:100%;
	padding-right:calc(var(--bs-gutter-x) / 2);
	padding-left:calc(var(--bs-gutter-x) / 2);
	margin-top:var(--bs-gutter-y);
}

.container-fluid{
	width:100%;
	padding-right:var(--bs-gutter-x, .75rem);
	padding-left:var(--bs-gutter-x, .75rem);
	margin-right:auto;
	margin-left:auto
}

.container-member {
	width:100%;
	padding-right:var(--bs-gutter-x, .75rem);
	padding-left:var(--bs-gutter-x, .75rem);
	margin-right:auto;
	margin-left: 15em;
}

.d-flex{
	display:flex !important
}

.rounded{
	border-radius:5px !important
}

.justify-content-center{
	justify-content:center !important
}

.position-relative{
	position:relative !important
}

.mx-0{
	margin-right:0 !important;margin-left:0 !important
}

.p-0{
	padding:0 !important
}

.vh-100{
	height:100% !important
}

.align-items-center {
	align-items: center;
}

.pt-4{
	padding-top:1.5rem
}

.px-4{
	padding-right:1.5rem;
	padding-left:1.5rem;
}

.pe-4{
	padding-right:1.5rem
}

.pb-3{
	padding-bottom:1rem
}

.bg-secondary{
	background-color:#191C24
}

.text-primary{
	color:#EB1616;
	padding-left:1.5em
}

.w-100{
	width:100%
}

.member-navbar{
	position:relative;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
	padding-top:.5rem;
	padding-bottom:.5rem
}

.member-navbar-nav{
	display:flex;
	flex-direction:column;
	padding-left:0;
	margin-bottom:0;
	list-style:none
}

.sidebar {
    position: fixed;
    top: 5em;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.sidebar .member-navbar .member-navbar-nav .member-nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .member-navbar .member-navbar-nav .member-nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.main {
	display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.member-data {
	border: 1px solid #ccc;
    padding: 20px;
    flex-basis: calc(33.33% - 40px);
}

.membername {
	color:#FFFFEE;
	padding: 27px;
}

.editHead {
	color:#FFFFEE;
	padding: 27px;
}

.btn-marg {
	margin-top: 15px;
	margin-left: 85px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}


.personal-img {
	border-radius:50%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
}

.thtext{
    color: #ffffee;
}